<% @posts.each do |post| %>

  <div class="media border border-primary rounded p-2 my-2">
    <img src="https://api.adorable.io/avatars/64/abott@adorable.png" class="rounded mr-3" alt="...">
    <div class="media-body">
      <h5 class="mt-0"><%= post.title %></h5>
      <%= post.content %>
    </div>
    <div class="btn-group" role="group">
        <%= link_to post, class: "btn btn-secondary" do %>
            <i class="fas fa-link"></i>
        <% end %>
        <%= link_to edit_post_path(post), class: "btn btn-secondary" do %>
            <i class="fas fa-edit"></i>
        <% end%>
        <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" do %>
            <i class="fas fa-trash"></i>
        <% end %>
    </div>
  
  </div>
<% end %>