<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script src="https://kit.fontawesome.com/be94cb8174.js" crossorigin="anonymous"></script>
    <script>
      setTimeout("$('.alert').fadeOut('slow')", 3000)
    </script>
    <%= render 'layouts/navbar'%>
    <% if notice %>
    <div class="alert alert-success"> 
        <%= notice %>
      <% end %>
    </div>
    <% if alert %>
    <div class="alert alert-warning"> 
        <%= alert %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
